* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 60%;
  margin: 0 auto;
}

// UTILITY

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

//GENERAL
.btn {
  cursor: pointer;
}

a {
  text-decoration: none;
}